<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>会员管理系统</title>
</head>
<body>
<a href="insertCommunity">新增会员</a><br>
<table class="table table-bordered">
    <tr><th>全选<input type="checkbox" id="check"> </th>
        <th>序号</th>
        <th>ID  </th>
        <th>名称 </th>
        <th>价格 </th>
        <th>数量 </th>
        <th>操作 </th></tr>

    <tr th:each="commodity:${commodities}">
        <td><input type="checkbox" name="user"></td>
        <td th:text="${commodityStat.index+1}"></td>
        <td th:text="${commodity.cid}"></td>
        <td th:text="${commodity.name}"></td>
        <td th:text="${commodity.price}"></td>
        <td th:text="${commodity.quantity}"></td>
        <td>
            <a th:href="@{'/inventory/update/' + ${commodity.getCid()}}">修改</a>
            <a th:href="@{'/inventory/delete/' + ${commodity.getCid()}}">删除</a>
        </td>
    </tr>
    <input type="submit" value="赠送礼物">
</table>
</body>
</html>