<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>新增货物</title>
</head>
<body>
<h1 th:inline="text">Insert</h1>
<form align="center" action="#" th:action="@{/insertCommodity}" th:object="${commodity}" method="post">


    <label>
        名称 :<input type="text" th:field = "*{name}">
    </label>
    <br>
    <label>
        ID  :<input type="text" th:field="*{cid}" >
    </label><br>
    <label>
        价格 :<input type="text" th:field = "*{price}">
    </label><br>
    <label>
        库存 :<input type="text" th:field = "*{quantity}">
    </label>
    <br>
    <input type="submit" value="确定">
</form>

</body>
</html>