<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>销售记录后台</title>
</head>
<body>
<h1>销售记录后台</h1>
<form align="center"  th:action="@{/searchBack}"  method="post">
<table class="table table-bordered">
       <tr><th>全选<input type="checkbox" id="check"> </th>
           <th>序号</th>
        <th>操作 </th>
        <th>操作对象 </th>
        <th>数量 </th>
        <th>操作时间 </th></tr>

    <tr th:each="log:${logs}">
        <td><input type="checkbox" name="lid[]" th:value="${log.lid}"></td>
        <td th:text="${logStat.index+1}"></td>
        <td th:text="${log.oname}"></td>
        <td th:text="${log.cname}"></td>
        <td th:text="${log.quantity}"></td>
        <td th:text="${log.date}"></td>
    </tr>
</table>
    <input type="submit" value="批量删除">
</form>
</body>
<script>
    document.getElementById("check").onclick = function(){
        var checked = document.getElementById("check").checked;
        var checkson = document.getElementsByName("lid[]");
        if(checked){
            for(var i = 0; i < checkson.length ;i++){
                checkson[i].checked = true;
            }
        }else{
            for(var i = 0; i < checkson.length ;i++){
                checkson[i].checked = false;
            }
        }
    }
</script>
</html>